<div>
    <!-- Edit -->
    <a href="" ng-show="ui.canEdit" ng-click="edit()" rel="tooltip" title="Edit" class="btn btn-default">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
    <!-- Search -->
    <a href="" ng-show="ui.canSearch" ng-click="search()" rel="tooltip" title="Search" class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i>
    </a>
    <!-- Cancel -->
    <a href="" ng-show="ui.canCancel" ng-click="cancel()" rel="tooltip" title="Cancel" class="btn btn-default">
        <i class="glyphicon glyphicon-share-alt"></i>
    </a>
    <!-- Ok -->
   <a href="" ng-show="ui.canOk" ng-click="ok()" rel="tooltip" title="Ok" class="btn btn-default">
            <i class="glyphicon glyphicon-ok"></i>
    </a>
    <!-- Save -->
    <a href="" ng-show="ui.canSave" ng-click="save()" rel="tooltip" title="Save" class="btn btn-default">
        <i class="glyphicon glyphicon-floppy-disk"></i>
    </a>
    <!-- Last Record -->
    <a href="" ng-show="ui.canEdit" ng-click="last()" rel="tooltip" title="Last" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <!-- Next Record -->
    <a href="" ng-show="ui.canEdit" ng-click="next()" rel="tooltip" title="Next" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
    <!-- Previous Record -->
    <a href="" ng-show="ui.canEdit" ng-click="previous()" rel="tooltip" title="Previous" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    <!-- First Record -->
    <a href="" ng-show="ui.canEdit" ng-click="first()" rel="tooltip" title="First" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>
    </a>
</div>
